.btn--download {
   
    img {
        max-width: none;
        height: auto;
        height: 75px;
    }
}

.btn--download-small {
    
     img {
         max-width: none;

         width: 200px;
     }
 }

//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .btn--download {
       margin: 0 auto;
    }  
}