.btn--download {
   
    img {
        max-width: none;
        height: auto;
        width: 200px;
    }
}

//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .btn--download {
       margin: 0 auto;
    }  
}