.responsive__header {
    background-color: #03060f;
   //background-image: url('./hero/appBackground_4.jpg');
   // background-image: url('./hero/appBackground_4.jpg');
    top: 0;
    left: 0;
    z-index: $zIndex-2;
    padding: 0.5rem 1.25rem;
 
}

.hamburger__container {
    z-index: $zIndex-3;
    opacity: 1!important;
    border: none;
}

.navMenu--vert {
    background-color: #03060f; //background-image: url('./hero/appBackground_4.jpg');
   // background-color: #28568e;
}

.navMenu--list {
    padding: 1rem;
}

.vList--piped > * + * {
    border-top: 1px solid $white;

}

//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .responsive__header{
        background-position-x: 46%;
    }
}