.phoneImgRight,
.phoneImgLeft {
    img {
        max-width: none;
        height: auto;
    }
}

.explore__title {
    font-size: 2rem;
}

.phoneImgRight {
    top: -130px;
    left: 30%;
}

.phoneImgLeft {
    top: -63px;
    left: 0;
}

.box--dkBlue {
    background-image: url('./exploreApp/exploreApp_bkg.jpg');
}

.wrapper__phone {
    text-align: center;
}

.slant--large {
    height: 440px;
}

.slant--small {
    height: 250px;
}

.slant {
    position: relative;
    z-index: 1;
    height: 440px;
    &:before,
    &:after {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

.slant--end--container {
    position: relative;
    background-color: green;
}

.slant--end {
    position: absolute;
    background-color: $white;
    height: 4.9rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.slant--start {
    position: absolute;
    background-color: #ffffff;
    height: 2.4rem;
    left: 0;
    top: -33.2px;
    width: 100%;
    z-index: $zIndex-2;
    &:before {
        content: '';
        left: 20%;
        width: 17%;
        height: 62%;
        background-color: $white;
        z-index: 999;
        display: block;
        bottom: 34px;
    }
    &:after {
        content: '';
        left: 20%;
        width: 17%;
        height: 62%;
        background-color: red;
        z-index: 999;
        display: block;
        bottom: 34px;
    }
}

// slanted edges here
.slant--right {
    &:before {
        transform: skewY(1.5deg);
        transform-origin: 100% 0;
    }
    &:after {
        transform: skewY(-1.5deg);
        transform-origin: 100%;
    }
}

.slant--left {
    &:before {
        transform: skewY(-1.5deg);
        transform-origin: 0 100%;
    }
    &:after {
        transform: skewY(1.5deg);
        transform-origin: 0;
    }
}

.slant--ltBlue {
    background-color: #2e70b6;
}

.slant--dkBlue {
    background-color: #1e2e5d
}

.slant--white {
    background-color: $white;
    height: 4.2rem;
}

// ----------------------------------------------------
// Media Queries
// ----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .slant {
        position: relative;
        z-index: 1;
        height: initial;
    }

    .explore__title {
      font-size: 1.7rem;
  }
  
}