
.container {
    margin: 0 auto;
    width: 80%;
    color: #333;

  }

  .slick-slide {
    padding-right: 10px;
}

.slick-prev:before, .slick-next:before {
    color:$blue-6!important;

}

//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .container {

        width: 100%;
    
      }
    }