.callout__text {
    top: 0;
    left: 0;
    color: $white;
    padding: 0.2rem 0.6rem;
    @include basicGradient(top, $violet-1, bottom, $violet-2); //background: $violet-1;
    display: inline-block;
}

//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (max-width: $breakpoint-medium) {
    .callout__text {
        text-align: center;
        width: 100%;
    }
}
