@import 'assets/styles/app.scss';


@import 'header/_header.scss';
@import 'hero/_hero.scss';
@import 'intro/_intro.scss';
@import 'downloadBtn/_downloadBtn.scss';
@import 'nav/_nav.scss';
@import 'keyIssue/_keyIssue.scss';
@import 'exploreApp/_exploreApp.scss';
@import 'contact/_contact.scss';
@import 'footer/_footer.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
