
 
.wrapper {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
    @include borderBox();
}

.wrapper--x2 {

    padding-right: 2rem;
    padding-left: 2rem;
}


.wrapper--white {
    background-color: $white;
    
}




//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (min-width: $breakpoint-large) {
    .wrapper {
        max-width: $site-width;
        margin: 0 auto;
      
    }    
}